#login-wrapper {
    margin: 36px 24px 24px 24px;
}

#login-header {
    padding: 20% 0 20% 0;
}

#input-header-container {
    padding: 7px 0;
}


#login-button {
    color: white;
    background: $font-color-main;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
}

#input-field-container{
    border-bottom: 1px solid $font-color-main;
    margin-bottom: 7px;
}

#single-button-container{
    padding: 10px 0;
}

.input-field {
    width: 100%;
}