.navbar-wrapper {
    background: $color-4;
    // position: absolute;
    bottom: 0;

    position: fixed;
    // top: 0;
    // left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 86px;
    // background-color: #fff;
    color: #333;
    transform: translateY(100);
    transition: transform 0.3s ease;
}

.navbar-wrapper.shadow {
    box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
  }
  
.navbar-wrapper.hidden {
    transform: translateY(110%);
}

  
#nav-selection-container {
    // border-top: 0.1px solid $color-2;
    // -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
    // box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
    // height: 5vh;
    // width: 100vw;
    margin: auto auto;
    display: flex;
    flex-direction: row;
}

.nav-selection {
    text-decoration: none;
    margin: auto auto;
    height: auto;
    color: black;
}