#signup-wrapper {
    margin: 36px 24px 24px 24px;
}

#signup-header {
    padding: 20% 0 20% 0;
}

#login-section {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 7px 0;
}

#terms-container {
    padding: 10px 0;
    font-size: 10px;
    text-align: center;
}
